@{
  Layout = "_Layout";
}
@using HairSalon.Models
@model HairSalon.Models.Stylist


<h4>Stylist Details</h4>
<hr />
<ul>
  <li>@Html.DisplayNameFor(m => m.Name): @Html.DisplayFor(model => model.Name)</li>
</ul>
<hr/>
@if (@Model.Clients.Count == 0)
{
  <h5>No clients yet!</h5>
}  
else
{
  <h5>Clients for @Html.DisplayFor(model => model.Name)</h5>
  <ul>
    @foreach(Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</li>
    }
  </ul>
}
<hr/>
<p>@Html.ActionLink("Add new Client", "Create", "Clients", new { id = Model.StylistId})</p>  
<p>@Html.ActionLink("Back to Stylists", "Index")</p>